.sidebar-logo {
  width: $sidebar-width;
  height: 64px;
  background-color: $main-color;
}

.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100vh;
  background-color: $main-color;
  transition:  .5s;
}

.open-close:checked ~ .sidebar {
  transform: translateX(-$sidebar-width);
}

@import "nav/nav";
