* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}

$sidebar-width: 230px;
$main-color: #064475;

@import "~antd/dist/antd.css";
@import "login/login";
@import "sidebar/sidebar";
@import "footer/footer";
@import "body/body";
@import "utils/utils";